<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
  <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <p style="color: black;">
    &copy; Copyright 2022 : Weather Boys Project 9
  </p>
</footer>
</body>
</html>
