<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- TO-DO: For Home/Navbar leading back to main page(?) -->
        <a href="/"> Home </a>
      </li>
      <li class="nav-item">
        <!-- TO-DO: Travel Suggestions -->
        <a href="/travel"> Travel Suggestions </a>
      </li>
      <li class="nav-item">
        <!-- TO-DO: Clothing Suggestions -->
        <a href="/clothing"> Clothing Suggestions </a>
      </li>
      <li class="nav-item">
        <!-- TO-DO: Log in/Register -->
          <a href="/login"> Login/Register </a>
      </li>
    </ul>
  </nav>
</header>
