<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><b><% current.location.name %></b></h1>
      <!--<div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61SR0iLzo1L._AC_UY1000_.jpg" class="card-img-top" alt="coding">
                <div class="card-body">
                    <h5 class="card-title">Tops</h5>
                    <p class="card-text">Tank Top</p>
                </div>
            </div>
        </div>-->
      <% if(current.temp_f > 0) {%>
        <div class="row"> <!-- card-->
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/61SR0iLzo1L._AC_UY1000_.jpg" class="card-img-top" alt="coding">
                    <div class="card-body">
                        <h5 class="card-title">Tops</h5>
                        <p class="card-text">Tank Top</p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
  </main>


<%- include ('../partials/footer') %>