<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <table class="table" id = "CLASSTABLE">
          <thead>
            <tr>
              <th scope="col">City</th>
              
              <th scope="col">High</th>
              <th scope="col">Low</th>
              <th scope="col">Humidity</th>
              <th scope="col">Local Time</th>                            
            </tr>
          </thead>
          <tbody>
  
              </tbody>
            </table>
        </div>
      </main>



<%- include ('../partials/footer') %>