<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <form id="form" action = "/login" method="POST">
      <style>
        body {
          background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/NL0L5N5Rgimkt8edi/videoblocks-a-heavy-rain-in-nature-wet-big-rocks_sasn-l6pv_thumbnail-1080_01.png');
        }
        a {color: brown;}
        </style>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" name="username">
          </div>
   
        <div class="mb-3" id="password">
          <label for="username" class="form-label">User Name</label>
          <input type="text" class="form-control" id="username" name = "username">
        </div>

        <button type="submit" class="btn btn-primary" onclick="add_user(usr,pwd)">Login</button>
      </form>
      <a href="./register">register an Account</a>
</main>

<%- include ('../partials/footer') %>
