<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <!-- Beginning Form -->
      <!-- Input Username/Email -->
      <!-- Input Password -->
      <!-- Link to Register if not registered previously -->
      <!-- Button to login -->
    <!-- Ending Form -->
  </div>
</main>

<%- include ('../partials/footer') %>
