<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">

        <style>
            body
        </style>
  </div>
</main>

<%- include ('../partials/footer') %>