<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Log in</h1>
      <form id="form" action = "/login" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username" name="username">
        </div>
   
        <div class="mb-3" id="password">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name = "password">
        </div>    

        <div style = "display:flex; justify-content: space-between;" >
        <h5 > Don't have an account?</h5>
        <a href = "/register" >Register</a>
        <button type="submit" class="btn btn-primary"  >Log in</button>
        </div>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>
