<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container-md">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form id="form" action = "/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" name="username">
          </div>
   
        <div class="mb-3" id="password">
          <label for="username" class="form-label">User Name</label>
          <input type="text" class="form-control" id="username" name = "username">
        </div>

        <button type="submit" class="btn btn-primary" onclick="add_user(usr,pwd)">Register</button>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>